<div>
  <header>
    <div class="navbar">
      <div class="navbar-item" style="margin: 16px 0">
        <a class="home-link" href="{{ site.url }}">&copy; {{ site.name }}</a>
      </div>
      <div class="navbar-item">
        <ul class="nav-menu">
          <li>
            <a class="nav-link" href="{{ site.url }}/about">About</a>
          </li>
          <li>
            <a class="nav-link" href="{{ site.url }}/feed.xml">RSS</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
