body {
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

header {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #1abc9c;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1abc9c;
    color: white;
}

.content {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    background-color: #1abc9c;
    border-radius: 0.3em;
    color: white;
    height: 100%;
    width: 100%;
    padding: 6px;
    text-decoration: none
}

.nav-menu > ul {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    text-align: right;
}

.nav-menu > li {
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
}

.home-link {
    color: #111111;
    text-decoration: none;
}

.home-link:hover {
    color: #111111;
    text-decoration: underline;
}

.post-date {}

.pagination {}
