---
layout: default
---

<h2 style="margin-bottom: -20px;">{{ page.title }}</h2>
<p class="post-date">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<div class="pagination">
  {% if site.owner.email %}
  <a href="mailto:{{ site.owner.email }}" class="social-media-icons"
    ><i class="fa fa-2x fa-envelope-square" aria-hidden="true"></i
  ></a>
  {% endif %} {% if site.owner.github %}
  <a href="{{ site.owner.github }}" class="social-media-icons"
    ><i class="fa fa-2x fa-github-square" aria-hidden="true"></i
  ></a>
  {% endif %} {% if site.owner.linkedin %}
  <a href="{{ site.owner.linkedin }}" class="social-media-icons"
    ><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i
  ></a>
  {% endif %} {% if site.owner.twitter %}
  <a
    href="https://twitter.com/{{ site.owner.twitter }}"
    class="social-media-icons"
    ><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i
  ></a>
  {% endif %}
</div>
